.product-container {
    display: flex;
    border-bottom: 2px solid lightgrey;
    margin-bottom: 5px;
    margin-right: 10px;
    padding-bottom: 5px;
}

.product-name h4 {
    color: blue;
    font-weight: 400;
}

.product-name {
    margin-left: 10px;
}

.button {
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}