.header img {
    width: 250px;
}

.header {
    text-align: center;
}

.header nav {
    background-color: black;
    align-items: center;
}

.header nav a {
    color: white;
    font-size: 1rem;
    margin-left: 20px;
    padding: 10px;
    line-height: 40px;
    text-decoration: none;
}

.header nav a:hover {
    background-color: gray;
}